*
{
   font-family: 'Montserrat', sans-serif,courier,arial,helvetica; 
   color:white;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}

nav ul a,
nav .brand-logo {
  color:#f28125;
}

ul.nobullet {
  list-style-type:none;
}

p {
  /* line-height: 2rem; */
  padding:10px;
  font-weight: 300;
  color:white;
}

li {
  font-weight: 300;
}

body {
  /* line-height: 2rem; */
  font-weight:normal;
  background-color: #131315;
}

b {
  font-weight: 700;
}

h1 {
  margin-bottom:0px;
  padding-top: 10px;
  font-family: 'Press Start 2P', cursive, courier,arial,helvetica;
  font-weight: 700;
}

h1#smaller-header {
  font-size: 30px;
}

h2 {
  color:white;
  margin-top:60px;
  font-size: 40px;
  /* -webkit-text-stroke: 0.7px white; */
    /* font-family: 'DotGothic16', sans-serif; */
  font-family: 'Press Start 2P', courier,arial,helvetica;
  /* font-family: 'VT323', monospace, courier,arial,helvetica; */
  font-weight: 700;
}

h4.tagline {
  padding-top: 40px;
  padding-bottom: 10px;
}

h4 {
  font-weight: 700;
  padding-left: 10px;
  color:#f28125
}

h5 {
  color: #f28125;
  font-weight: 700;
  padding-left: 10px;
}

h6 {
  color: #f28125;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
}

a:hover, #readBtn:hover, #arrowBtn:hover, #link_btn:hover, h4#link_text:hover {
  color: white;
}

a, #readBtn, h4#link_text {
  color: #f7c880;
  text-decoration: underline;
}

#arrowBtn, #link_btn {
  color: #f7c880;
}

.btn-large {
  background-color: #f7c880;
  color: black;
  font-size:larger;
  font-weight:700;
}

.btn-large:hover {
  background-color: white;
  color: black;
}

.navbarlinks a, .navbarlinks i.material-icons.menu {
  color:white;
  text-decoration: none;
}

.navbarlinks a:hover, .navbarlinks i.material-icons.menu:hover {
  color: #f28125;
  background-color: white;
}

.btn-large:active, .btn-large:focus {
  color:black;
  background-color: #f7c880;
}


.sidenav-trigger {
  color: #f28125;
}

#show-list {
  display: none;
}

.parallax-container {
  min-height: 380px;
  /* line-height: 0; */
  height: auto;
  color: rgba(255,255,255,.9);
}


  .parallax-container .section {
    width: 100%;
  }
  
.divider-block {
  min-height: 60px;
  height: auto;
  background-color: #1b1c1e;
}

.img-overlay {
  width: 100%;
   opacity: 60%;
}

.card-background {
  background-color: #131315;
  opacity: 97%;
  display: block;
}

.card.hoverable:hover {
  background-color: #1b1c1e;
  opacity: 99%;
}

.large-screen-margin {
  margin: 300px 20px 200px 20px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .large-screen-margin{
    margin:10px;
  }
}

.icon-block {
  text-align: center;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


i.material-icons.menu {
  color: #f28125;
}

i.footer {
  font-size: 50px;
  letter-spacing: 30px;
  text-align: center;
  color: white;
  padding-top: 0px; }

.footer-white-link {
  color: white;
}

i.footer:hover, .footer-white-link:hover {
  color:#f28125;
}
/* Tool icons show/hide style */
  .showtext li {
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    letter-spacing: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    vertical-align: middle; 
  }

    .showtext li i {
      padding: 10px; }
    .showtext li b {
      padding: 10px;
      display: none; }
    .showtext li:hover i {
      display: none; }
    .showtext li:hover b {
      display: block; }

/* Tool UX icons show/hide style */
  .showtext-ux li {
    float: left;
    /* height: 100px;
    width: 100px; */
    letter-spacing: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: middle; 
    min-width: 200px;
  }

    .showtext-ux li i {
      padding: 10px; 
      font-size: 25px;
    }

    .showtext-ux li b {
      vertical-align: middle;
      padding-bottom: 10px; 
    }



    @media screen and (min-width: 801px) {
      #language-icons-replacement {
        display: none; } }
      .hide-on-large-screen {
        display:none;
      }
    @media screen and (max-width: 800px) {
          #icons, #toggleList, #icons-list, .switch, .tabs {
            display: none; }
          #show-list {
            display: block;
          }
          .center-btn {
            margin: auto;
            width: 70%;
          }
          .btn-large {
            font-size: medium;
          }
          a.brand-logo {
            font-size: 14px;
            }
          h2 {
            font-size: 30px;
          }
          .carousel {
            display: none;
          }
          .hide-on-small-screen {
            display:none;
          }
          .bubble.you {
            width: 260px;
        }
        .hide-on-large-screen {
          display:block;
        }
      }
    /* end of show/hide section */

figure {
  margin: 0px;
}

i.none {
  font-size: 50px;
  letter-spacing: 30px;
  text-align: center;
  padding-top: 0;
  color: #f28125;  }

i.small-icon {
  font-size: 60px;
  text-align: center;
  padding-top: 0;
  color: white;  } 

i.welcome-icons {
  letter-spacing: 0px;
  color:#f28125;
  font-size: 60px;
  text-align: center; }

i.about-icons {
  font-size: 50px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #f28125;
}

i.none {
  letter-spacing: 0px;
  color: #f28125;
  text-align: center;
  line-height: 50px; }

.switch label .lever:after {
    background-color: #f28125 !important;
}

.sticky-info {
  font-size: 10px !important;
}

.collapsible-header:hover {
  background-color: #f28125;
  color: #f28125;
}

.collapsible-header {
  display:block;
  background-color:#f28125;
  color: white;
}

.collapsible {
  border:0px;
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#myBtn:hover {
    color: #f28125;
}

#readMore, #seeMore {display: none;}

.tabs .tab a{
  background-color: black;
    color:#f7c880;
    font-size: larger;
} /*color to the text*/

.tabs .tab a:hover {
    background-color:#f7c880;
    color:black;
} /*Text color on hover*/

.tabs .tab a:focus.active {
    background-color:#f7c880;
    color:black;
} /*Background and text color when a tab is active*/

.tabs .tab a.active {
    background-color:black;
    color:#f7c880;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#f7c880;
} /*Color of underline*/

.projects {
  padding-top: 20px;
  padding-right:20px;
  padding-left:20px;
}

.flow-text {
  margin-top: 0px;
  margin-bottom: 40px;
}

.no-margain-bottom {
  margin-bottom: 0px;
}

.img-half-out {
  margin-top:-50px;
  max-width: 200px;
}

/* bubbles */

.chatbox {
    min-width: 100%;
    margin: 0 auto;
}
.bubble{
    background-color: #f28125;
    color: black;
    border-radius: 5px;
    /* box-shadow: 0 0 6px #B2B2B2; */
    display: block;
    padding: 10px 18px;
    position: relative;
}
.bubble::before {
    background-color: #f28125;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:         rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.roundbubble{
  background-color: white;
  color: black;
  /* font-weight:600; */
  border-radius: 5px;
  /* box-shadow: 0 0 6px #B2B2B2; */
  display: block;
  padding: 10px 10px;
  position: relative;
}

.small-bubble {
      float: left;
      margin: 0px 10px 20px 10px;
      max-width: 100%;
}

.you {
    /* float: left; */
    margin: 10px 20px 10px 20px;
    max-width: 100%;
}
.you::before {
    /* box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 ); */
    left: -9px;
}
.me {
    float: right;
    margin: 5px 20px 5px 45px;
}
.me::before {
    /* box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 ); */
    right: -9px;
}

.bubble-figcaption {
  margin-top: 5px;
  padding-top: 0px;
}

/* bubbles end */

/* game pics */
.row_game {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column_game {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column_game img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column_game {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column_game {
    flex: 100%;
    max-width: 100%;
  }
}

/* game pics end*/


i.valign-wrapper.material-icons-menu{
  font-size: 100px;
}

@keyframes blinker {
           from {
              visibility:hidden;
           }
       50% {
              visibility:hidden;
           }
       to {
              visibility:visible;
        }
   }

@keyframes blinking {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent
    }
    50% {
        background-color: rgba(116,127,224,.65);
    }
}

.blinking-cursor {
  font-size: 75px;
  animation: blinker 1s steps(4, start) infinite;
  font-family: 'Press Start 2P', cursive, courier,arial,helvetica;
}

.game-header {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: middle; }

@media screen and (min-width: 801px) {
  #smaller-header {
    display: none; }
  }
@media screen and (max-width: 800px) {
      #normal-header {
        display: none; }
      #smaller-header {
        display: block;
      }
      #embedded_prototype {
        display: none; }
    }

.button_with_icon {
  display: inline-flex;
  vertical-align: middle;
} 

.rounded_corners {
  border-radius : 10px;
}

h4#link_text {
  font-size: 30px;
  color: f7c880;
}

.fixed-action-btn{
  right:10%;
  }

.btn-floating.btn-large {
  background-color: #f28125;
}

.tool-icons{
  font-size: 16px;
}

#materialbox-overlay {
  opacity: 0.8 !important;
}

blockquote{
  border-left: 5px solid #f28125; 
  border-radius : 10px;
}

.carousel#more_projects{
  min-height: 350px;
  padding-top: 0;
}
.carousel#reviews{
  min-height: 600px;
  padding-top: 0;
}

.carousel#more_projects .carousel-item {
  min-height: 350px;
  padding-top: 0;
}

.carousel-item {
  min-width: 550px !important;
}

p.img-caption {
  padding-top: 0px;
  margin-top: 5px;
  font-style: italic;
}

.collapsible-header {
  border-bottom: 0px;
}

.collapsible-body {
  padding: 0px;
  border-bottom: 0px;
}

#more1 {display: none;} 
#more2 {display: none;} 