nav ul a,
nav .brand-logo {
  color:#e65100;
}

.button_with_icon {
  display: inline-flex;
  vertical-align: middle;
}

p {
  line-height: 2rem;
  padding:10px;
}

body {
  line-height: 2rem;
  font-weight:normal;
}

h1 {
  margin-bottom:0px;
  padding-top: 10px;
}

h1#smaller-header {
  font-size: 30px;
}

h2 {
  color:#e65100;
  margin-top:60px;
}

h4.tagline {
  padding-top: 40px;
  padding-bottom: 10px;
}

h5 {
  color: #e65100;
}

h6 {
  color: #e65100;
  font-size: 30px;
}

a:hover {
  color: #e65100;
}
a {
  color: #FFA726;
  text-decoration: underline;
}

a:hover#project-button {
  color: #e65100;
}

a#project-button {
  color: #FFA726;
}

.navbarlinks a, .navbarlinks i.material-icons.menu {
  color:black;
  text-decoration: none;
}

.navbarlinks a:hover, .navbarlinks i.material-icons.menu:hover {
  color: #e65100;
  background-color: #FFA726;
}



.sidenav-trigger {
  color: #e65100;
}

#show-list {
  display: none;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  text-align: center;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


i.material-icons.menu {
  color: #e65100;
}

i.footer {
  font-size: 50px;
  letter-spacing: 30px;
  text-align: center;
  color: white;
  padding-top: 0px; }

i.footer:hover {
  color:#e65100;
}
/* Tool icons show/hide style */
  .showtext li {
    display: inline-block;
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    letter-spacing: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    vertical-align: middle; }
    .showtext li i {
      padding: 10px; }
    .showtext li b {
      padding: 10px;
      display: none; }
    .showtext li:hover i {
      display: none; }
    .showtext li:hover b {
      display: block; }

    @media screen and (min-width: 801px) {
      #language-icons-replacement {
        display: none; } }
    @media screen and (max-width: 800px) {
          #icons, #toggleList, #icons-list, .switch {
            display: none; }
          #show-list {
            display: block;
          }
          a.brand-logo {
            font-size: 15px;
            }
          }
    /* end of show/hide section */

i.none {
  font-size: 50px;
  letter-spacing: 30px;
  text-align: center;
  color: #e65100;  }

i.welcome-icons {
  letter-spacing: 0px;
  text-align: center; }

i.about-icons {
  font-size: 50px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #e65100;
}

i.none {
  letter-spacing: 0px;
  color: #FFA726;
  text-align: center; }

.switch label .lever:after {
    background-color: #e65100 !important;
}

.sticky-info {
  font-size: 10px !important;
}

.modal {
  outline: none;
}

.modal i.modal-close {
  position: absolute;
right: 0;
}

.modal a {
  color: #e65100;
}

.modal a:hover, .modal i:hover {
  color: white;
}

#modal-close-button.btn-flat i {
font-size: 3rem;
float: right;
}

.collapsible-header:hover {
  background-color: #e65100;
  color: #e65100;
}

.collapsible-header {
  display:block;
  background-color:#FFA726;
  color: white;
}

.collapsible {
  border:0px;
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#myBtn:hover {
    color: #e65100;
}

#readMore {display: none;}

.tabs .tab a{
    color:#FFA726;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#FFA726;
    color:white;
} /*Text color on hover*/

.tabs .tab a:focus.active {
    background-color:#FFA726;
    color:white;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#e65100;
} /*Color of underline*/

.projects {
  padding-top: 20px;
  padding-right:20px;
  padding-left:20px;
}

/* bubbles */

.chatbox {
    width: 400px;
    margin: 0 auto;
}
.bubble{
    background-color: #FFA726;
    border-radius: 5px;
    /* box-shadow: 0 0 6px #B2B2B2; */
    display: block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}
.bubble::before {
    background-color: #FFA726;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:         rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}
.you {
    float: left;
    margin: 5px 45px 5px 20px;
}
.you::before {
    /* box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 ); */
    left: -9px;
}
.me {
    float: right;
    margin: 5px 20px 5px 45px;
}
.me::before {
    /* box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 ); */
    right: -9px;
}

.flow-text {
  margin-top: 0px;
  margin-bottom: 40px;
}

/* bubbles end */

/* game pics */
.row_game {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column_game {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column_game img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column_game {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column_game {
    flex: 100%;
    max-width: 100%;
  }
}

/* game pics end*/


i.valign-wrapper.material-icons-menu{
  font-size: 100px;
}

@keyframes blinker {
           from {
              visibility:hidden;
           }
       50% {
              visibility:hidden;
           }
       to {
              visibility:visible;
        }
   }
}

@keyframes blinking {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent
    }
    50% {
        background-color: rgba(116,127,224,.65);
    }
}

.blinking-cursor {
  font-weight: bolder;
  font-size: 75px;
  animation: blinker 1s steps(4, start) infinite;
}

.game-header {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  vertical-align: middle; }

  @media screen and (min-width: 801px) {
    #smaller-header {
      display: none; }
    }
  @media screen and (max-width: 800px) {
        #normal-header {
          display: none; }
        #smaller-header {
          display: block;
        }
