<div class="container">
    <div class="row">
      <div class="col l12 s12 center">
        <h4 style="margin-top:0px;" class="white-text">Connect with me</h4>
        <p class="light flow-text">
          <a class="white-text" style="text-decoration:underline;" href="tel:46709982282">+46 70-998 22 82</a>
          <br>
          <a class="white-text" style="text-decoration:underline;" href="mailto:amanda@alling.org?subject=Hello!" target='_blank'>amanda@alling.org</a>
          <br><br>
          Feel free to contact me if you have any questions
          <br>
          (or if you want to play some games)
        </p>
        <a href="tel:46709982282"><i aria-hidden='true' class='footer fas fa-mobile-alt'></i></a>
        <a href="mailto:amanda@alling.org?subject=Hello!" target='_blank'><i aria-hidden='true' class='footer fas fa-envelope'></i></a>
        <a href='https://www.linkedin.com/in/amanda-alling-andr%C3%A9n/' target='_blank'><i aria-hidden='true' class='footer fab fa-linkedin'></i></a>
        <a href='https://github.com/sajaas' target='_blank'><i aria-hidden='true' class='footer fab fa-github' style="letter-spacing:0;"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020
    </div>
  </div>